/* Reset style */
:root{
   --dark:#170405;
   --primary-color:#B51D2C;
   --main-color:#B51D2C;
   --secondary:#170405;
   --fs-large : 45px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
     font-family: "Poppins", sans-serif;
}



/* global style */
.container{
    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.padding-top-bottom{
    padding: 4% 0%;
}

.bg-main{
    background-color: var(--dark);
}
.text-main{
    color: var(--primary-color);
}
.fs-large{
    font-size: var(--fs-large);
}
.custom-font{
      font-family: "Lato", sans-serif;
}

/* custom style */
.custom-card{
    width: 30%;
    padding: 2%;
    box-shadow: 0px 0px 3px 3px lightgray;
}

.custom-card p{
    color: blue;
}
.custom-card > p{
    background-color: lightgray;
}
.custom-card + h2{
    color: red;
}
.custom-card ~ h2{
    border: 2px solid ;
    margin: 3% 0%;
}
.custom-card:hover + h2{
    color: teal;
}

a[target]{
    color: red;
}
a[href^="www"]{
    border: 2px solid blue;
    font-size: 20px;
}
[href$="html"]{
    background-color: lightgray;
}
[href*="w3schools"]{
    font-size: 30px;
}

/* *** Pseudo class && Pseudo Element  */
h2:hover{
    color: goldenrod;
    background: black;
}

input[type=text]{
        padding: 2%;
    margin-top: 2%;
    border-color: blue;
    border: 4px solid blue;
    outline: 3px solid red;
    margin-left: 2%;
    outline: 0;
    color: blue;
}
input:focus{
    border-color: red;
}

:disabled{
    background-color: lightblue;
}
:checked{
    width: 20px;
    height: 20px;
}

li:first-child ,.div-paragraph p:first-child{
    color: red ;
    font-size: 20px;
}

ol li:last-child{
    color: blue;
    background-color: #eee;
}
ol li:nth-child(3){
    color: goldenrod;
    background-color: lightcyan;
}

table{
    border: 1px solid lightgray;
    width: 100%;
    border-collapse: collapse;
}
th , td{
    border:1px solid lightgray;
    padding: 1%;
}

tr:first-child{
    background: #22a8f0;
    color: white;
}
/* tr:nth-child(2) , tr:nth-child(4) , tr:nth-child(6) ,tr:nth-child(8){
    background-color: #eee;
} */

/* nth-child ==> number , even , odd */

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(even):hover{
    background-color: lightpink;
}

tr:nth-child(odd):hover{
    background-color: black;
    color: white;
}
td:nth-child(3){
    /* color: blue; */
}
td:last-child{
    color: blue;
}





/* https://www.w3schools.com/cssref/css_ref_pseudo_classes.php */
/* :not(span) , :visited , :link , :active , :indeterminate , :read-only ==> search  */


/**************** Pseudo Elements **************  */
.custom-h3{
    margin: 5% 0%;
}
.custom-h3::first-line{
    color: var(--main-color);
}
.custom-h3::first-letter{
    color: teal;
    font-size: var(--fs-large);
}
::selection{
    background-color: var(--main-color);
    color: white;
}

::placeholder{
    color: goldenrod;
}

::marker{
    color: teal;
    font-size: 25px;
}

.before-after-card{
    width: 40%;
    margin: 3% auto;
    background-color: #dfdfdf;
    padding: 2%;
    position: relative;
}
/* ::before / ::after  */

.before-after-card::before{
    content: "Web Design";
    background: black;
    color: white;
    font-size: 25px;
    padding: 2%;
    width: 50%;
    display: block;
}

.before-after-card::after{
    content: "" ;
    border-top: 15px solid #dfdfdf ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* border-bottom: 15px solid goldenrod; */
    position: absolute;
    /* bottom: -30px; */
    top: 100%;
}
.triangle{
      border-top: 15px solid #dfdfdf ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* border-bottom: 15px solid goldenrod; */
    position: absolute;
    /* bottom: -30px; */
    top: 100%;
    left: 80%;
}



.card{
    color: white;
    font-size: 23px;
    width: 32%;
    padding: 2%;
    transition: 1s ;
    /* transform: scale(1.5); */
}
.bg-teal{
    background-color: teal;
}

.card:hover{
    transform: translateX(200px);
    transform: translateX(-100px);
    transform: translateX(50%);
    transform: translateX(-50%);
    transform: translateY(100px);
     transform: translateY(-50%);
    transform: translate(100px , 50%); 
    transform: skewX(20deg);   
    transform: skewX(-20deg); 
    transform: skewY();  
    transform: skew(20deg , 20deg);  
    transform: rotate(50deg);
    transform: rotate(-90deg);
    transform: scaleX(1.5);
    transform: scaleX(0.5);
    transform: scaleX(0);
    transform: scaleY(1.5);
    transform: scaleY(0);
    transform: scale(1.5);
    /* matrix(scaleX , skewY , skewx 
    , scaleY ,
     translateX , translateY) */

     transform: matrix(0.5 , 0 , 0.2 , 1.3 , 100 , 100);

     /* transform: scale(1); */

}

.scale-card{
    width: 30%;
    margin-left: 4%;
    box-shadow: 0px 0px 3px 2px lightgray;
    /* overflow: hidden; */

}
.scale-card img{
    width: 100%;
    transition: 1s;
    display: block;
}
.card-body{
    padding: 3%;
}
.scale-card:hover img{
    transform: scale(1.3) rotate(10deg);
}

.overflow-hidden{
    overflow: hidden;
}

.animation-card{
    width:100px;
    height: 100px;
    background-color: black;
    animation-duration: 4s;
    animation-name: changeBgColor ;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: 2;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
    /* animation-direction: reverse; */
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation: linear 3s alternate-reverse 2 changeBgColor;
    animation: name duration timing-function delay iteration-count direction fill-mode;
   
}
.animation-card:hover{
     animation-play-state: paused ;
}

@keyframes changeBgColor {
    /* from{
        background-color: lightblue;
    }
    to{
        background-color: goldenrod;
    } */
     0%{

    }
    25%{
         transform: translateX(300px);
        background-color: lightblue;
     }
     50%{
        background-color: green;
        transform: translate(300px , 300px);
     }
     75%{
        background-color: #dfdfdf;
        transform: translate(0px , 300px);
     }
     100%{
        background-color: lightsalmon;
     }
}
